.wrap-rules{ position: relative; z-index: 1; padding-bottom: 40px;}
.wrap-rules > ul{ width: 90%; margin: 0 auto;}
.wrap-rules > ul li{ padding: 20px 0; border-bottom: 1px solid #d1d1d1; color: #666; font-size: 28px; line-height: 40px;}
.wrap-rules > ul li:last-child{ border-bottom: 0px;}
.wrap-rules > ul li em{ font-weight: bold; color: #1f78e5;}
.wrap-rules > ul li .wrap-rules-Q{ margin-bottom: 20px; font-weight: bold;font-size: 30px;}
.wrap-rules > ul li .wrap-rules-A{}